body {
  font-family: Arial, sans-serif;
}

header {
  text-align: center;
  background-color: #222;
  color: #fff;
  padding: 35px;
}

.content {
  padding: 20px;
  text-align: center;
  color: #333;
}
