/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: rgb(150, 150, 150);
  position: relative;
  overflow-x: hidden;
}

/* 헤더 스타일 */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(20, 20, 20);
  color: #fff;
  padding: 20px 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* 컨테이너 스타일 */
.container {
  width: 40%; /* My Wallet 페이지와 유사한 가로 크기 */
  margin: 50px auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center; /* 가운데 정렬 */
  gap: 20px; /* 카드 사이의 간격 추가 */
}

/* 카드 스타일 */
.card {
  background-color: rgba(30, 30, 30, 0.9);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%; /* 카드가 컨테이너 너비에 맞게 조정 */
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

h2 {
  color: rgb(234, 118, 250);
  font-size: 1.8em;
}

h3 {
  color: rgb(234, 118, 250);
  font-size: 1.4em;
  margin-bottom: 15px;
}

p {
  font-size: 1.1em;
  line-height: 1.6em;
  margin-top: 15px;
  color: rgb(200, 200, 200);
}

/* 이더스캔 버튼 스타일 */
.etherscan-btn {
  margin-top: 20px;
  padding: 15px 10px; /* 버튼 크기 키움 */
  background-color: rgb(41, 28, 43);
  color: rgb(234, 118, 250);
  font-size: 1.2em; /* 글씨 크기 키움 */
  border: none;
  border-radius: 10px; /* 버튼 모서리 둥글게 */
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* 버튼 크기를 동일하게 */
  max-width: 300px; /* 버튼의 최대 너비 설정 */
  text-align: center; /* 텍스트 가운데 정렬 */
}

.etherscan-btn:hover {
  background-color: rgb(60, 40, 63);
}

/* 지갑 입력 필드 스타일 */
.wallet-input {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
  font-size: 1em;
  color: rgb(200, 200, 200);
  background-color: rgba(20, 20, 20, 0.9);
  border: 1px solid rgb(234, 118, 250);
  border-radius: 5px;
  text-align: center;
}

.wallet-input:focus {
  outline: none;
  border-color: #ffcc00;
}

/* 배경 이미지 스타일 */
.background-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../coinImage/etherscan.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.05;
  z-index: 0;
  pointer-events: none;
}
