/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212; /* main 페이지와 동일한 배경색 */
  color: #ffffff;
}

/* 헤더 스타일 */
header {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 30, 30); /* 헤더 배경 */
  color: #fff; /* 헤더 텍스트 */
  padding: 20px 0;
  margin: 0;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00; /* 링크 호버 색상 */
}

/* 컨테이너 스타일 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 50%;
  margin: 50px auto;
  padding: 20px;
}

/* 카드 스타일 */
.card {
  background-color: rgb(30, 30, 30); /* 카드 배경 */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%; /* 동일한 가로 길이 */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* 텍스트 카드 스타일 */
.text-area h2 {
  color: rgb(234, 118, 250); /* 텍스트 색상 */
  margin-bottom: 15px;
}

.text-area p {
  font-size: 1.1em;
  line-height: 1.6em;
  color: rgb(200, 200, 200); /* 밝은 회색 */
}

/* 버튼 카드 스타일 */
.button-area {
  padding: 20px 0; /* 버튼 영역의 패딩 */
  background-color: rgb(20, 20, 20); /* 버튼 영역 배경 색상 */
  border-radius: 20px; /* 버튼 div 둥근 모서리 */
}

.kakao-login-btn {
  padding: 25px 150px; /* 버튼 크기 */
  background-color: rgb(41, 27, 47); /* 버튼 배경 */
  color: rgb(255, 255, 255); /* 버튼 텍스트 (밝은 흰색) */
  font-size: 1.2em; /* 버튼 텍스트 크기 */
  border: none;
  border-radius: 20px; /* 둥근 버튼 모양 */
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.kakao-login-btn:hover {
  background-color: rgb(60, 40, 63); /* 버튼 호버 배경 */
  transform: scale(1.05); /* 버튼 크기 확대 */
}

.kakao-user-name {
  font-size: 3em;
  font-weight: bold;
  color: #fff;
  padding: 10px;
  display: inline-block;
  cursor: default; /* 클릭할 수 없도록 설정 */
}
