/* 공통 스타일 */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(20, 20, 20);
  color: rgb(200, 200, 200);
}

/* 헤더 스타일 */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(30, 30, 30);
  color: #fff;
  padding: 20px;
}

header h1 {
  margin: 0;
  font-size: 2em;
}

nav ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 10px 0 0 0;
  gap: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffcc00;
}

/* 컨테이너 */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 40%;
  margin: 50px auto;
}

/* 카드 스타일 */
.card {
  background-color: rgb(30, 30, 30);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 100%;
}

.card h2 {
  color: rgb(234, 118, 250);
}

/* ETH 양 입력 스타일 */
.amount-display {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  font-size: 2em;
  color: rgb(200, 200, 200);
}

.amount-display input {
  width: 60%;
  text-align: center;
  font-size: 1.5em;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(234, 118, 250);
  color: rgb(200, 200, 200);
  margin-right: 10px;
}

.amount-display input:focus {
  outline: none;
  border-bottom: 2px solid #ffcc00;
}

/* 수신 주소 입력 스타일 */
.address-display {
  margin-top: 20px;
  text-align: left;
}

.address-display label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 10px;
  color: rgb(200, 200, 200);
}

.address-display input {
  width: 100%;
  font-size: 1.2em;
  padding: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 2px solid rgb(234, 118, 250);
  color: rgb(200, 200, 200);
}

.address-display input:focus {
  outline: none;
  border-bottom: 2px solid #ffcc00;
}

/* 버튼 영역 */
.button-area {
  width: 100%;
  text-align: center;
  display: flex; /* Flexbox 활성화 */
  flex-direction: column; /* 버튼을 세로로 배치 */
  gap: 20px; /* 버튼 간의 간격을 20px로 설정 */
  align-items: center; /* 버튼들을 중앙 정렬 */
}

.wallet-btn {
  background-color: rgb(41, 28, 43);
  color: rgb(234, 118, 250);
  border: none;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 1.2em;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%; /* 버튼 크기 유지 */
}

.wallet-btn:hover {
  background-color: rgb(60, 40, 63);
}
